# See http://help.github.com/ignore-files/ for more about ignoring files.

package-lock.json

# dependencies
node_modules
bower_components

# production
build

# development
dist

# webpack config
webpack.config.js
webpack.prod.config.js

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
